<span class="preheader">Use this link to reset your password. The link is only valid for 24 hours.</span>
<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td align="center">
            <table class="email-content" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                    <td class="email-masthead">
                        <a href="https://www.pustokio.com" class="f-fallback email-masthead_name">
                            <img src="https://www.pustokio.com/pustokio_logo.png" width="140px"
                                alt="Logo of Pustokio" />
                        </a>
                    </td>
                </tr>
                <!-- Email Body -->
                <tr>
                    <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
                        <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0"
                            role="presentation">
                            <!-- Body content -->
                            <tr>
                                <td class="content-cell">
                                    <div class="f-fallback">
                                        <h1>Hi,</h1>
                                        <p>
                                            We received a request to reset the password to access Pustokio with
                                            your email address ({{email}}), but we were unable to find an
                                            account associated
                                            with this address.
                                        </p>
                                        <p>
                                            If you use Pustokio and were expecting this email, consider trying to
                                            request a password reset using the email address associated with your
                                            account.
                                        </p>
                                        <p>
                                            If you do not use Pustokio or did not request a password reset, please
                                            ignore this email.
                                        </p>
                                        <p>Thanks,
                                            <br>The Pustokio Team
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>