<span class="preheader">An account with this email is already registered.</span>
<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td align="center">
            <table class="email-content" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                    <td class="email-masthead">
                        <a href="https://www.pustokio.com" class="f-fallback email-masthead_name">
                            <img src="https://www.pustokio.com/pustokio_logo.png" width="140px"
                                alt="Logo of Pustokio" />
                        </a>
                    </td>
                </tr>
                <!-- Email Body -->
                <tr>
                    <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
                        <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0"
                            role="presentation">
                            <!-- Body content -->
                            <tr>
                                <td class="content-cell">
                                    <div class="f-fallback">
                                        <h1>Hi {{name}},</h1>
                                        <p>
                                            We received a request to sign up for a Pustokio account with your email
                                            address - ({{email}}). However, an account with this email is already
                                            registered. If you have forgotten your password, please try requesting a
                                            password-reset from login.
                                        </p>
                                        <p>
                                            If you did not try to sign up with this email, please
                                            ignore this email, your account information has not changed.
                                        </p>
                                        <p>Thanks,
                                            <br>The Pustokio Team
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>