<span class="preheader">Use this link to verify your email. The link is only valid for 24 hours.</span>
<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td align="center">
            <table class="email-content" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                    <td class="email-masthead">
                        <a href="https://www.pustokio.com" class="f-fallback email-masthead_name">
                            <img src="https://www.pustokio.com/pustokio_logo.png" width="140px"
                                alt="Logo of Pustokio" />
                        </a>
                    </td>
                </tr>
                <!-- Email Body -->
                <tr>
                    <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
                        <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0"
                            role="presentation">
                            <!-- Body content -->
                            <tr>
                                <td class="content-cell">
                                    <div class="f-fallback">
                                        <h1>Hi {{name}},</h1>
                                        <p>We are excited to have you get started. Click the button below to confirm
                                            your email.
                                        </p>
                                        <!-- Action -->
                                        <table class="body-action" align="center" width="100%" cellpadding="0"
                                            cellspacing="0" role="presentation">
                                            <tr>
                                                <td align="center">
                                                    <!-- Border based button
           https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                                        role="presentation">
                                                        <tr>
                                                            <td align="center">
                                                                <a href="{{action_url}}"
                                                                    class="f-fallback button button--purple"
                                                                    target="_blank">Confirm Email</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <p>If you did not sign up for a Pustokio account, please ignore this email.
                                        </p>
                                        <p>Thanks,
                                            <br>The Pustokio Team
                                        </p>
                                        <!-- Sub copy -->
                                        <table class="body-sub" role="presentation">
                                            <tr>
                                                <td>
                                                    <p class="f-fallback sub">If you’re having trouble with the
                                                        button above, copy and paste the URL below into your web
                                                        browser.</p>
                                                    <p class="f-fallback sub">{{action_url}}</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>